.reviews {
  background: #e6e5e5;
}

.reviews__item {
  padding: 104px 0 120px;
  text-align: center;
}

.reviews__text {
  width: 80%;
  margin: 0 auto;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: var(--black);
}

.reviews__img {
  margin: 16px 0;
  max-width: 100px;
}

.reviews__position {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.reviews__full-name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

@media (max-width: 576px) {
  .reviews__item {
    padding: 70px 0;
  }

  .reviews__text {
    width: 100%;
    font-size: 18px;
  }
}
